.backGound
{
    min-height: 500px;
    width: 100%;
    background-color: rgb(213, 134, 134);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.general
{
    display: flex;
    flex-direction: column;
}

.avatar
{
    padding-top: 4%;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.image
{
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
}

.formulario
{
    height: 40%;
}

.registro{
    width: auto;
}

form
{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.downside
{
    font-size: xx-large;
    height: 42%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

ion-input{
    --border-width: 2px !important;
    --border-radius: 30px !important;
    --padding-end: 0px !important;
    --padding-start: 30px !important;
    --highlight-color-invalid: #990014;
    --highlight-color-valid: green ;
    width: 80%;
}

ion-button{
    --border-radius: 15px;
    width: 80%;
    --background: #990014;
}

.icono {
    max-width: 60%;
    max-height: 80%;
}


ion-input:valid{
    color: green ;
}
