ion-icon 
{
    font-size: 24px;
    color: #73849a;
    padding: 0px 0px 0px 10px;
}

ion-title
{
    padding: 0px 0px 0px 10px;
}

.menu
{
    width: 100%;
    --background: transparent;
    --box-shadow: none;
}

.logOut
{
    padding: 0px 10px 0px 0px;
}

//------------------------------------BODY------------------------------------------------------------------------------------------
.torta
{
    margin: 2px;
}

.graficoTorta
{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.fondo
{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.GraficoBarras
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.boton
{
    color: black;
    height: 80%;
    background: #90c8d1;
    width: 50%;
}

.titulo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divBoton
{
    width: 100%;
    display: flex;
    height: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
