ion-icon 
{
    font-size: 24px;
    color: #73849a;
    padding: 0px 0px 0px 10px;
}

ion-title
{
    padding: 0px 0px 0px 10px;
}

.menu
{
    width: 100%;
    --background: transparent;
    --box-shadow: none;
}

//--------------------
.background
{
    border-bottom: solid 1px;
    display: flex;
    flex-direction: column;
}
.foto
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img
{
    padding: 2%;
    max-width: 85%;
}

h2{
    margin: 0;
    margin-bottom: 1%;
}

.votos
{
    padding-right: 9%;
    padding-left: 9%;
    height: 31px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}